<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>SSPA生产质量管理看板</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" href="./css/index.css">
		<script src="js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/echarts.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/world.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/echarts-gl.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/moment.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<script type="text/javascript" src="js/axios.js"></script>
		<script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>
		<!-- <script src="js/style.js" type="text/javascript" charset="utf-8"></script> -->
	</head>

	<body>
		<div id="content">
			<div id="app"></div>
			<div class="header">
				<img src="image/kb_top_logo1.png" class="logoImg">
				<p class="logoTitle"> SSPA 生产数字平台 | Manufacturing Digital Platform</p>
				<p class="line"></p>
			</div>
			<div class="leftBox">
				<div class="search">
					<el-row :gutter="20" type="flex" class="row-bg" justify="center">
						<el-col :span="7">
							<el-date-picker v-model="newDate" type="date" placeholder="请选择日期" @change="changeData" :picker-options="pickerOptions0"
							 style="width: 100%;">
							</el-date-picker>
						</el-col>
						<el-col :span="5">
							<el-select v-model="newShift" placeholder="请选择班次" @change="changeShift">
								<el-option v-for="item in optionsShift" :key="item.value" :label="item.label" :value="item.value"></el-option>
							</el-select>
						</el-col>
						<el-col :span="6">
							<el-select v-model="newLine" placeholder="请选择线体" @change="changeLine" clearable>
								<el-option v-for="item in optionsLine" :key="item.value" :label="item.label" :value="item.value"></el-option>
							</el-select>
						</el-col>
						<el-col :span="5" style="text-align: center;">
							<el-button icon="el-icon-search" type="success" style="width: 100%" @click="search">点击查询</el-button>
						</el-col>
					</el-row>
				</div>
				<div class="oneLeft">
					<div class="swiperTitle">
						<span class="mo30">Line</span>
						<span class="mo30">Output</span>
						<span class="mo35">KE</span>

					</div>
					<ul class="swiperData">
						<vue-seamless-scroll :data="tableData" :class-option="optionHoverOther" class="seamless-warp ">
							<li v-for="(item,index) in tableData" :key="index">
								<span class="mo30">{{item.linename}}</span>
								<span class="mo30">
									<el-tag type="danger" effect="dark" v-if='item.goodparts<item.targetparts'>{{item.goodparts}} </el-tag>
									<b v-else>{{item.goodparts}} </b>
								</span>
								<span class="mo35">
									<el-tag type="danger" effect="dark" v-if='item.ke<item.targetke'> {{(item.ke) + '%'}}</el-tag>
									<b v-else>{{(item.ke)+ '%'}} </b>
								</span>
							</li>
						</vue-seamless-scroll>
					</ul>
					<span class="border row1"></span>
					<span class="border row2"></span>
					<span class="border col1"></span>
					<span class="border col2"></span>
				</div>
			</div>

			<div class="centerBox">
				<div class="fourBigBox">
					<div class="fourBox">
						<div class="mycharts" id="myChart1"></div>
						<span class="border row1"></span>
						<span class="border row2"></span>
						<span class="border col1"></span>
						<span class="border col2"></span>
					</div>
					<div class="fourBox">
						<div class="mycharts" id="myChart2"></div>
						<span class="border row1"></span>
						<span class="border row2"></span>
						<span class="border col1"></span>
						<span class="border col2"></span>
					</div>
					<div class="fourBox">
						<div class="mycharts" id="myChart3"></div>
						<span class="border row1"></span>
						<span class="border row2"></span>
						<span class="border col1"></span>
						<span class="border col2"></span>
					</div>
					<div class="fourBox">
						<div class="mycharts" id="myChart4"></div>
						<span class="border row1"></span>
						<span class="border row2"></span>
						<span class="border col1"></span>
						<span class="border col2"></span>
					</div>
				</div>
				<div class="fiveBox">
					<div class="mycharts" id="myChart5"></div>
					<span class="border row1"></span>
					<span class="border row2"></span>
					<span class="border col1"></span>
					<span class="border col2"></span>
				</div>


			</div>

			<div class="rightBox">
				<div class="threeBox">
					<div class="mycharts" id="myChart7"></div>
					<span class="border row1"></span>
					<span class="border row2"></span>
					<span class="border col1"></span>
					<span class="border col2"></span>
				</div>
				<div class="threeBox">
					<div class="mycharts" id="myChart6"></div>
					<span class="border row1"></span>
					<span class="border row2"></span>
					<span class="border col1"></span>
					<span class="border col2"></span>
				</div>
				<div class="threeBox">
					<div class="mycharts" id="myChart8"></div>
					<span class="border row1"></span>
					<span class="border row2"></span>
					<span class="border col1"></span>
					<span class="border col2"></span>
				</div>
			</div>
		</div>
	</body>



</html>
<script type="text/javascript">
	let url = "http://10.177.34.15:23111"
	// let url = "http://192.168.1.18:9100"
	new Vue({
		el: '#content',
		data: {
			pickerOptions0: {
				disabledDate(time) {
					return time.getTime() > Date.now(); //如果没有后面的-8.64e7就是不可以选择今天的 
				}
			},
			newDate: moment(new Date()).add('year', 0).format("YYYY-MM-DD"), //选择日期
			// newDate: '2021-09-02', //选择日期
			newShift: '0', //选择班次
			newLine: '', //选择线体
			options: [],
			speedNum: 50,
			speedAll: 100,
			optionsLine: [], //线体
			optionsShift: [], //班次
			tableDataMo: [],
			tableData: [],
			dataOneBar: {
				dataOneBarX: [],
				years: '',
				dataOneBar1: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
				dataOneBar2: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],
				dataOneBar3: [2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2],
				dataOneBar4: [2.5, 2.8, 3.5, 4.8, 6.7, 10.8, 20, 24, 20, 15, 10, 6],
			},
			peopleData: [],
			dataThreeBar: {
				dataThreeBarX: ['大米', '玉米', '蔬菜', '鸡蛋', '坚果'],
				dataThreeBarY: [50000, 2000, 1000, 50000, 1000],
			},

			dataOnePie: [{
					value: 0,
					name: 'Perm.正式工'
				},
				{
					value: 1,
					name: 'Temp.小时工'
				},
			],
			dataTwoPie: [{
					value: 40,
					name: 'T1'
				},
				{
					value: 38,
					name: 'T2'
				},
				{
					value: 32,
					name: 'T3'
				},
				{
					value: 30,
					name: 'T4'
				},
				{
					value: 28,
					name: 'T5'
				},
			],

			KsData: [{
					name: "辅助检修",
					value: 124.5
				},
				{
					name: "领班",
					value: 222.5
				},
				{
					name: "车间培训员",
					value: 234.5
				},
				{
					name: "维修",
					value: 612.5
				},
				{
					name: "QC检测员",
					value: 548.7
				},
				{
					name: "IQC检测员",
					value: 300.2
				},
				{
					name: "仓库人员",
					value: 100
				},
			],
			// KsDataX: ['辅助检修', '领班', '车间培训员', '维修', 'QC检测员', 'IQC检测员', '仓库人员'],
			// KsDataY: ['100', '200', '300', '400', '500', '300', '122'],

			IeDataX: [
				'Useful Time', 'Cyclic + Frequentia', 'Design Time', 'Operator Activeity', ' DVC Externalto process',
				'Non Quality', 'Uncertaines', 'Operationg Time', 'DVC support', 'Time Spent'
			],
			IeDataY: [10, 23000, 10, 35000, 37000, 38000, 39000, 2000, 37000, 2000],
			IeDataY2: [15, 25, 40, 40, 26, 30, 20, 26, 30, 20],
			IeDataProKe: 0,
			IeDataProIe: 0,
			IeDataProKs: 0,
			IeDataProKd: 0,
			KeDataX: ['岗位培训', 'SIM1', '5S、交接班', 'Operator Activity', 'TPM1设备保养',
				'过程返工', '维修', '等待物料', '换型', '附加控制', 'MES系统维护'
			],
			KeDataPar: [20, 50, 80, 30, 53, 56, 75, 86, 43, 35, 78],
			KeDataParLine: [10, 20, 30, 40, 53, 36, 72, 26, 33, 32, 28],
		},
		computed: {
			optionHoverOther() {
				return {
					step: 0.3, // 数值越大速度滚动越快
					limitMoveNum: 0, // 开始无缝滚动的数据量 this.dataList.length
					hoverStop: true, // 是否开启鼠标悬停stop
					direction: 1, // 0向下 1向上 2向左 3向右
					openWatch: true, // 开启数据实时监控刷新dom
					singleHeight: 0, // 单步运动停止的高度(默认值0是无缝不停止的滚动) direction => 0/1
					waitTime: 1000 // 单步运动停止的时间(默认值1000ms)
				}
			}

		},
		methods: {



			//选择日期
			changeData(val) {
				this.newDate = moment(val).format("YYYY-MM-DD");
			},

			//选择班次
			changeShift(val) {
				this.newShift = val;
			},

			//选择线体
			changeLine(val) {
				this.newLine = val;
			},


			//查询按钮
			search() {
				this.centerTable()
			},

			//线体查询
			lineSearch() {
				let self = this
				axios.post(url + '/WebAPI/api/Common/GetProductAreaTextValuePair', {}).then(function(res) {
					if (res.status == 200) {
						let newList = []
						for (let [value, label] of Object.entries(res.data.list)) {
							newList.push({
								value: label.value,
								label: label.text,
							})
						}
						self.$nextTick(() => {
							self.optionsLine = newList
						})
					}
				})
			},

			//班次查询
			shiftSearch() {
				let self = this
				axios.post(url + '/WebAPI/api/Common/GetShiftinfoIdTextAll', {}).then(function(res) {
					if (res.status == 200) {
						let newList = []
						for (let [value, label] of Object.entries(res.data.list)) {
							newList.push({
								value: value,
								label: label.text,
							})
						}
						self.$nextTick(() => {
							self.optionsShift = newList
						})
					}
				})
			},

			//中间table表格初始化查询
			centerTable() {
				let self = this
				let params = {
					tsdate: this.newDate,
					shiftid: this.newShift,
					areaid: this.newLine == "" ? "0" : this.newLine,
				}
				axios.post(url + '/WebAPI/api/DashbordMain/List', params).then(function(res) {
					if (res.status == 200) {

						self.$nextTick(() => {
							//表格
							self.tableData = res.data.list.T1.length == 0 ? [] : res.data.list.T1;
							//人数统计
							self.peopleData = res.data.list.T2T3.length == 0 ? [] : Object.values(Array.from(res.data.list.T2T3)[0]).slice(
								0, 3);
							// //小时工和正式工
							self.dataOnePie[0].value = Object.values(Array.from(res.data.list.T2T3)[0]).slice(3, 4);
							self.dataOnePie[1].value = Object.values(Array.from(res.data.list.T2T3)[0]).slice(4, 5);
							// 类型消耗时间
							let T5dataX = []
							let T5dataY = []
							Array.from(res.data.list.T5).map(item => {
								T5dataX.push(item.downtime)
								T5dataY.push(item.usetime)
							});
							self.dataThreeBar.dataThreeBarX = T5dataX;
							self.dataThreeBar.dataThreeBarY = T5dataY;
							//T1-T5比例图
							let T6data = Array.from(res.data.list.T6).reduce((init, value, index) => {
								init.push({})
								init[index].value = value.usetime
								init[index].name = value.type
								return init
							}, [])
							self.dataTwoPie = T6data


							//电池ks时间分布图
							let T4data = Array.from(res.data.list.T4).reduce((init, value, index) => {
								init.push({})
								init[index].value = value.ts
								init[index].name = value.dttype
								return init
							}, [])
							self.KsData = T4data

							//IE时间分布
							self.IeDataY2 = res.data.list.T7.length == 0 ? [] : (Object.values(Array.from(res.data.list.T7)[0])).map(
								item => parseInt(item)).slice(2, 12);
							self.IeDataProKs = res.data.list.T7.length == 0 ? 0 : res.data.list.T7[0].ks;
							self.IeDataProKe = res.data.list.T7.length == 0 ? 0 : res.data.list.T7[0].ke;
							self.IeDataProIe = res.data.list.T7.length == 0 ? 0 : res.data.list.T7[0].ie;
							self.IeDataProKd = res.data.list.T7.length == 0 ? 0 : res.data.list.T7[0].kd;
							// ke时间分布
							let T8dataX = []
							let T8dataPar = []
							let T8dataLine = []
							Array.from(res.data.list.T8).map(item => {
								T8dataX.push(item.downtimedec)
								T8dataPar.push(item.usetime)
								T8dataLine.push(item.pct)
							});
							self.KeDataX = T8dataX;
							self.KeDataPar = T8dataPar;
							self.KeDataParLine = T8dataLine
							//2021年趋势图
							let T9dataX = []
							let T9data1 = []
							let T9data2 = []
							let T9data3 = []
							let T9data4 = []
							Array.from(res.data.list.T9).map(item => {
								T9dataX.push(item.month + '月')
								T9data1.push(item.ke)
								T9data2.push(item.ie)
								T9data3.push(item.targetke)
								T9data4.push(item.targetie)
							});
							console.log('T9data3', T9data3)
							self.dataOneBar.dataOneBarX = T9dataX
							self.dataOneBar.dataOneBar1 = T9data1
							self.dataOneBar.dataOneBar2 = T9data2
							self.dataOneBar.dataOneBar3 = T9data3
							self.dataOneBar.dataOneBar4 = T9data4
							self.dataOneBar.years = res.data.list.T9[0].year


							self.myChart1()
							self.myChart2()
							self.myChart3()
							self.myChart4()
							self.myChart5()
							self.myChart6()
							self.myChart7()
							self.myChart8()
						})

					}
				})


			},


			myChart1() {
				// 基于准备好的dom，初始化echarts实例
				var myChart1 = echarts.init(document.getElementById('myChart1'));

				var placeHolderStyle = {
					normal: {
						label: {
							show: false
						},
						labelLine: {
							show: false
						},
						color: "rgba(0,0,0,0)",
						borderWidth: 0
					},
					emphasis: {
						borderWidth: 0
					}
				};


				var dataStyle = {
					normal: {
						formatter: '{c}人',
						position: 'center',
						show: true,
						textStyle: {
							fontSize: '15',
							fontWeight: 'normal',
							color: '#AAAFC8',
							fontFamily: 'cursive',
						}
					}
				};


				option = {

					title: [{
							text: 'DVC Attendance 出勤状况',
							left: 'center',
							y: '2', //垂
							textStyle: { //主标题文本样式
								fontSize: 20,
								color: "#37CC48",
								fontFamily: 'cursive',
							},
						},

						{
							text: '计划人数',
							left: '60%',
							top: '25%',
							textAlign: 'center',
							textStyle: {
								fontWeight: 'normal',
								fontSize: '15',
								color: '#fff',
								textAlign: 'center',
								fontFamily: 'cursive',
							},
						}, {
							text: '当班排班人数',
							left: '60%',
							top: '50%',
							textAlign: 'center',
							textStyle: {
								color: '#fff',
								fontWeight: 'normal',
								fontSize: '15',
								textAlign: 'center',
								fontFamily: 'cursive',
							},
						}, {
							text: '实际人数',
							left: '60%',
							top: '75%',
							textAlign: 'center',
							textStyle: {
								color: '#fff',
								fontWeight: 'normal',
								fontSize: '15',
								textAlign: 'center',
								fontFamily: 'cursive',
							},
						}
					],

					//第一个图表
					series: [{
							type: 'pie',
							hoverAnimation: false, //鼠标经过的特效
							radius: ['20%', '25%'],
							center: ['30%', '30%'],
							startAngle: 225,
							labelLine: {
								normal: {
									show: false
								}
							},
							label: {
								normal: {
									position: 'center'
								}
							},
							data: [{
									value: 100,
									itemStyle: {
										normal: {
											color: ['rgba(176, 212, 251, 0.3)']
										}
									},
								}, {
									value: 35,
									itemStyle: placeHolderStyle,
								},

							]
						},
						//上层环形配置
						{
							type: 'pie',
							hoverAnimation: false, //鼠标经过的特效
							radius: ['20%', '25%'],
							center: ['30%', '30%'],
							startAngle: 225,
							labelLine: {
								normal: {
									show: false
								}
							},
							label: {
								normal: {
									position: 'center'
								}
							},
							data: [{
									value: this.peopleData[0],
									"itemStyle": {
										"normal": {
											"color": new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
												"offset": 0,
												"color": '#37CC48'
											}, {
												"offset": 1,
												"color": '#ffff66'
											}]),
										}
									},
									label: dataStyle,
								}, {
									value: 35,
									itemStyle: placeHolderStyle,
								},

							]
						},


						//第二个图表
						{
							type: 'pie',
							hoverAnimation: false,
							radius: ['20%', '25%'],
							center: ['30%', '58%'],
							startAngle: 225,
							labelLine: {
								normal: {
									show: false
								}
							},
							label: {
								normal: {
									position: 'center'
								}
							},
							data: [{
									value: 100,
									itemStyle: {
										normal: {
											color: ['rgba(176, 212, 251, 0.3)']
										}
									},

								}, {
									value: 35,
									itemStyle: placeHolderStyle,
								},

							]
						},

						//上层环形配置
						{
							type: 'pie',
							hoverAnimation: false,
							radius: ['20%', '25%'],
							center: ['30%', '58%'],
							startAngle: 225,
							labelLine: {
								normal: {
									show: false
								}
							},
							label: {
								normal: {
									position: 'center'
								}
							},
							data: [{
									value: this.peopleData[1],
									"itemStyle": {
										"normal": {
											"color": new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
												"offset": 0,
												"color": '#37CC48'
											}, {
												"offset": 1,
												"color": '#CACED3'

											}]),
										}
									},
									label: dataStyle,
								}, {
									value: 55,
									itemStyle: placeHolderStyle,
								},

							]
						},
						//第三个图表
						{
							type: 'pie',
							hoverAnimation: false,
							radius: ['20%', '25%'],
							center: ['30%', '83%'],
							startAngle: 225,
							labelLine: {
								normal: {
									show: false
								}
							},
							label: {
								normal: {
									position: 'center'
								}
							},
							data: [{
									value: 100,
									itemStyle: {
										normal: {
											color: ['rgba(176, 212, 251, 0.3)']
										}
									},

								}, {
									value: 35,
									itemStyle: placeHolderStyle,
								},

							]
						},

						//上层环形配置
						{
							type: 'pie',
							hoverAnimation: false,
							radius: ['20%', '25%'],
							center: ['30%', '83%'],
							startAngle: 225,
							labelLine: {
								normal: {
									show: false
								}
							},
							label: {
								normal: {
									position: 'center'
								}
							},
							data: [{
									value: this.peopleData[2],
									"itemStyle": {
										"normal": {
											"color": new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
												"offset": 0,
												"color": '#CACED3'
											}, {
												"offset": 1,
												"color": '#ffff66'
											}]),
										}
									},
									label: dataStyle,
								}, {
									value: 55,
									itemStyle: placeHolderStyle,
								},

							]
						},
					]
				};
				myChart1.setOption(option);
				window.onresize = function() {
					myChart1.resize();
				}
			},

			//类型消耗时间总和
			myChart2() {
				// 基于准备好的dom，初始化echarts实例
				var myChart2 = echarts.init(document.getElementById('myChart2'));
				// 指定图表的配置项和数据
				var option = {
					title: {
						text: 'FG Output 成品产出',
						left: 'center',
						y: '2', //垂
						textStyle: { //主标题文本样式
							fontSize: 20,
							fontFamily: 'cursive',
							color: "#37CC48"
						}
					},
					grid: {
						left: '10%',
						right: '10%',
						bottom: '-10%',
						top: '15%',
						containLabel: true
					},
					tooltip: {
						trigger: 'axis',
						axisPointer: {
							type: 'none'
						},
						formatter: function(params) {
							return params[0].name + '<br/>' +
								"<span style='display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:rgba(36,207,233,0.9)'></span>" +
								params[0].seriesName + ' : ' + Number((params[0].value).toFixed(2)).toLocaleString() +
								' pcs<br/>'
						}
					},

					xAxis: {
						show: false,
						type: 'value'
					},
					yAxis: [{
						type: 'category',
						inverse: true,
						axisLabel: {
							show: true,
							textStyle: {
								fontSize: 14,
								color: '#fff',
								fontFamily: 'cursive',
							},
						},
						splitLine: {
							show: false
						},
						axisTick: {
							show: false
						},
						axisLine: {
							show: false
						},
						data: this.dataThreeBar.dataThreeBarX
					}, {
						type: 'category',
						inverse: true,
						axisTick: 'none',
						axisLine: 'none',
						show: true,
						axisLabel: {
							textStyle: {
								color: '#ffffff',
								fontSize: '13',
								fontFamily: 'cursive',
							},
							formatter: function(value) {
								return value + ' pcs';
							},
						},
						data: this.dataThreeBar.dataThreeBarY
					}],
					series: [{
							name: '时间',
							type: 'bar',
							zlevel: 1,
							itemStyle: {
								normal: {
									barBorderRadius: 10,
									color: new echarts.graphic.LinearGradient(0, 0, 1, 0, [{
										offset: 0,
										color: 'rgb(255,255,102,1)',
									}, {
										offset: 1,
										color: 'rgb(55,204,72,1)'
									}]),
								},
							},
							barWidth: 10,
							data: this.dataThreeBar.dataThreeBarY
						},
						{
							name: '背景',
							type: 'bar',
							barWidth: 10,
							barGap: '-100%',
							data: this.dataThreeBar.dataThreeBarY,
							itemStyle: {
								normal: {
									color: 'rgba(24,31,68,1)',
									barBorderRadius: 10,
								}
							},
						},
					]
				};
				// 使用刚指定的配置项和数据显示图表。
				myChart2.setOption(option);
				window.onresize = function() {
					myChart2.resize();
				}
			},



			//正式工和小时工环比
			myChart3() {
				// 基于准备好的dom，初始化echarts实例
				var myChart3 = echarts.init(document.getElementById('myChart3'));
				// 指定图表的配置项和数据
				var option = {
					title: [{
							text: `Perm/Temp`,
							left: 'center',
							y: '2', //垂
							textStyle: { //主标题文本样式
								fontSize: 20,
								color: '#37CC48',
								fontFamily: 'cursive',
							}
						},
						{
							text: 'Ratio 正式工/小时工占比',
							left: 'center',
							y: '30', //垂
							textStyle: { //主标题文本样式
								fontSize: 20,
								color: '#37CC48',
								fontFamily: 'cursive',
							},
						}
					],
					color: ['#00aa00', '#999999'],
					tooltip: {
						trigger: 'item',
						formatter: "{a} <br/>{b} : {c}(H) / ({d}%)"
					},
					legend: {
						left: 'center',
						y: '70',
						textStyle: { //图例文字的样式
							color: '#fff',
							fontSize: 15,
							fontFamily: 'cursive',
						},
						itemWidth: 13, // 设置宽度
						itemHeight: 13, // 设置高度
						itemGap: 20 // 设置间距
					},

					series: [{
						name: '所占比例',
						type: 'pie',
						radius: '30%',
						center: ["50%", "70%"],
						data: this.dataOnePie,
						label: { //饼图图形上的文本标签
							normal: {
								show: true,
								// position:'inner', //标签的位置
								textStyle: {
									fontSize: 13, //文字的字体大小
									fontFamily: 'cursive',
								},
								formatter: '{b}:'+'\n'+'{c}(H)'+'\n'+'({d}%)',
							}
						}
					}]
				};
				// 使用刚指定的配置项和数据显示图表。
				myChart3.setOption(option);
				window.onresize = function() {
					myChart3.resize();
				}
			},

			//T1-T5比例图
			myChart4() {
				// 基于准备好的dom，初始化echarts实例
				var myChart4 = echarts.init(document.getElementById('myChart4'));
				// 指定图表的配置项和数据
				var option = {
					title: {
						text: 'T1-T5 Distribution 时间分布',
						left: 'center',
						y: '2', //垂
						textStyle: { //主标题文本样式
							fontSize: 20,
							fontFamily: 'cursive',
							color: "#37CC48"
						}
					},
					color: ['#00aa00', 'red', '#ffff66', '#ff5500', '#55ffff', '#0055ff'],
					tooltip: {
						trigger: 'item',
						formatter: "{a} <br/>{b} : {c}(H) ({d}%)"
					},
					legend: {
						left: 'center',
						y: '40px',
						textStyle: { //图例文字的样式
							color: '#fff',
							fontSize: 15,
							fontFamily: 'cursive',
						},
						itemWidth: 12, // 设置宽度
						itemHeight: 12, // 设置高度
						itemGap: 7 // 设置间距
					},
					series: [{
						name: '所占比例',
						type: 'pie',
						radius: [40, 60],
						center: ['50%', '70%'],
						roseType: 'area',
						itemStyle: {
							borderRadius: 8,
						},
						data: this.dataTwoPie,
						label: { //饼图图形上的文本标签
							normal: {
								show: true,
								// position:'left', //标签的位置
								textStyle: {
									fontSize: 13, //文字的字体大小
									fontFamily: 'cursive',
								},
								formatter: '{b}:{c}(H)' + '\n' + ' ({d}%)',
							},
						},
					}]
				};
				// 使用刚指定的配置项和数据显示图表。
				myChart4.setOption(option);
				window.onresize = function() {
					myChart4.resize();
				}
			},

			//ks时间分布图
			myChart5() {
				var myChart5 = echarts.init(document.getElementById('myChart5'));
				var category = this.KsData // 类别
				var total = 100; // 数据总数
				var datas = [];
				category.forEach(value => {
					datas.push(value.value);
				});
				option = {
					title: {
						text: 'KS distribution by item (Hrs)/KS时间分布图',
						left: 'center',
						y: '2', //垂
						textStyle: { //主标题文本样式
							fontSize: 20,
							fontFamily: 'cursive',
							color: "#37CC48"
						}
					},
					xAxis: {
						max: total,
						splitLine: {
							show: false
						},
						axisLine: {
							show: false
						},
						axisLabel: {
							show: false
						},
						axisTick: {
							show: false
						},
					},
					grid: {
						left: '25%',
						right: '15%',
						top: '15%',
						bottom: '0%',
					},
					yAxis: [{
						type: "category",
						inverse: false,
						data: category,
						axisLine: {
							show: false
						},
						axisTick: {
							show: false
						},
						axisLabel: {
							show: false
						},


					}],
					series: [{
							// 内
							type: "bar",
							barWidth: 12,
							silent: true,
							itemStyle: {
								normal: {
									color: {
										colorStops: [{
												offset: 0,
												color: '#00aa00', // 0% 处的颜色
											},
											{
												offset: 1,
												color: 'red', // 100% 处的颜色
											},
										],
									},

								},
							},
							label: {
								normal: {
									formatter: "{b}",
									textStyle: {
										color: "#fff",
										fontSize: 15,
										fontFamily: 'cursive',
									},
									position: 'left',
									distance: 12, // 向右偏移位置
									show: true
								}
							},
							data: category,
							z: 1,
							animationEasing: "elasticOut"
						},

						{
							// 分隔
							type: "pictorialBar",
							itemStyle: {
								normal: {
									color: "#07314a"
								}
							},
							symbolRepeat: "fixed",
							symbolMargin: 1.5,
							symbol: "rect",
							symbolClip: true,
							symbolSize: [5, 15],
							symbolPosition: "start",
							symbolOffset: [3, -3],
							symbolBoundingData: this.total,
							data: [total, total, total, total, total, total, total],
							z: 2,
							animationEasing: "elasticOut",


						},
						{
							// label
							type: "pictorialBar",
							symbolBoundingData: total,
							itemStyle: {
								normal: {
									color: "none"
								}
							},
							label: {
								normal: {
									formatter: (params) => {
										var text;
										text = '{f| ' + (params.data * 100 / total) + '%}';
										return text;
									},
									rich: {
										f: {
											color: "#ffffff"
										}
									},
									position: 'right',
									distance: 20, // 向右偏移位置
									show: true
								}
							},
							data: datas,
							z: 0,

						},

						{
							name: "外框",
							type: "bar",
							barGap: "-130%", // 设置外框粗细
							data: [total, total, total, total, total, total, total],
							barWidth: 20,
							itemStyle: {
								normal: {
									barBorderRadius: [5, 5, 5, 5, 5, 5, 5],
									color: "transparent", // 填充色
									barBorderColor: "#00aa00", // 边框色
									barBorderWidth: 1, // 边框宽度
								}
							},
							z: 0
						},
						{
							type: 'scatter',
							name: '条形',
							symbol: 'roundRect',
							symbolSize: [5, 10],
							symbolOffset: [5, -3],
							symbolKeepAspect: true,
							itemStyle: {
								normal: {
									color: "#00aa00"
								}
							},
							data: [total, total, total, total, total, total, total],
						}

					]
				}

				// 使用刚指定的配置项和数据显示图表。
				myChart5.setOption(option);
				window.onresize = function() {
					myChart5.resize();
				}
			},

			//IE时间分布图
			myChart6() {
				var myChart6 = echarts.init(document.getElementById('myChart6'));
				var color = ["#55ffff", "#FFC0CB", "#FF69B4", "#DDA0DD", "#FF00FF", "#55aa00", "#ff0000", '#00ff00', '#aa00ff',
					'#0055ff'
				]
				option = {
					title: [{
							text: 'IE distribution by item (Hrs)/IE 时间分布图',
							left: 'center',
							y: '2', //垂
							textStyle: { //主标题文本样式
								fontSize: 20,
								color: "#37CC48",
								fontFamily: 'cursive',
							}
						},
						{
							text: '<-' + 'KD=' + this.IeDataProKd + '%' + '->',
							left: '14%',
							bottom: '30%',
							textStyle: {
								color: '#ffffff',
								fontSize: 15,
								fontFamily: 'cursive',
							}
						},
						{
							text: 'IE=' + this.IeDataProIe + '%',
							left: '48%',
							top: '12%',
							textStyle: {
								color: '#ffffff',
								fontSize: 15,
								fontFamily: 'cursive',
							}
						},
						{
							text: '<--------' + '  KE= ' + this.IeDataProKe + '%  ' + '------->',
							left: '33%',
							bottom: '30%',
							textStyle: {
								color: '#ffffff',
								fontSize: 15,
								fontFamily: 'cursive',
							}
						},
						{
							text: '<-' + 'KS=' + this.IeDataProKs + '%' + '->',
							right: '9%',
							bottom: '30%',
							textStyle: {
								color: '#ffffff',
								fontSize: 15,
								fontFamily: 'cursive',
							}
						},
					],
					grid: {
						containLabel: true,
						left: "8%",
						right: "3%",
						top: "20%",
						bottom: "-5%",

					},
					xAxis: {
						type: "category",
						data: this.IeDataX,
						axisLine: {
							lineStyle: {
								color: "#fff",
							},
						},
						axisLabel: {
							interval: 0,
							rotate: 30,

						},
					},
					yAxis: {
						type: "value",
						axisLine: {
							show: false,
							lineStyle: {
								color: "#fff",
							},
						},
						splitLine: {
							show: false,

						},
						axisLabel: {
							show: false,
						},
						axisTick: {
							show: false //不显示坐标轴刻度
						},
					},
					series: [{
							type: "bar",
							data: this.IeDataY,
							stack: "zs",
							barMaxWidth: "auto",
							barWidth: 20,
							itemStyle: {
								color: {
									x: 0,
									y: 0,
									x2: 0,
									y2: 1,
									type: "linear",
									global: false,
									colorStops: [{
											offset: 0,
											color: "transparent",
										},
										{
											offset: 1,
											color: "transparent",
										},
									],
								},
							},
						},

						{
							type: "bar",
							data: this.IeDataY2,
							stack: "zs",
							barMaxWidth: "auto",
							barWidth: 20,
							itemStyle: {
								normal: {
									color: function(params) {
										let colorList = [
											"#c23531",
											"#61a0a8",
											"#d48265",
											"#91c7ae",
											"#ca8622",
											"#ff0000",
											"#00aa00",
											'#0055ff',
											"#FFDE76",
											"#37A2DA"
										];
										return colorList[params.dataIndex];
									},
									label: {
										show: true, //开启显示
										position: 'top', //在上方显示
										textStyle: { //数值样式
											color: '#fff',
											fontSize: 16
										}
									}
								},

							},
						},
					],
				};

				myChart6.setOption(option);
				window.onresize = function() {
					myChart6.resize();
				}
			},


			//ke柱状图折线图
			myChart7() {
				// 基于准备好的dom，初始化echarts实例
				var myChart7 = echarts.init(document.getElementById('myChart7'));
				var maxArr = [100, 100];
				option = {
					title: {
						text: 'KE Distribution by item (Hrs)/KE时间分布',
						left: 'center',
						y: '2', //垂
						textStyle: { //主标题文本样式
							fontSize: 20,
							fontFamily: 'cursive',
							color: "#37CC48"
						}
					},
					tooltip: {
						trigger: "axis",
						borderRadius: 5,
						borderColor: "#6baab2",
						borderWidth: 1,
						// formatter: function(params) {
						// 	return (
						// 		params[0].value
						// 	);
						// }
					},
					grid: {
						left: "3%",
						right: "3%",
						bottom: "0%",
						top: "30%",
						containLabel: true
					},

					xAxis: [{
						type: 'category',
						data: this.KeDataX,
						axisPointer: {
							type: 'shadow',
						},
						axisLabel: {
							rotate: 25,
							interval: 0,
							textStyle: {
								color: '#fff'
							},

						},
						axisLine: {
							lineStyle: {
								color: '#fff',
								width: 2, //这里是为了突出显示加上的
							},
						},
					}],

					yAxis: [{
							type: 'value',
							name: "小时",
							min: 0,
							max: 100,
							interval: 20,
							nameTextStyle: {
								color: "#fff",
								fontSize: 12,
							},
							axisLabel: {
								formatter: '{value}',
								textStyle: {
									color: '#fff'
								},
							},
							axisLine: {
								lineStyle: {
									color: '#fff',
									width: 1, //这里是为了突出显示加上的
								}
							},

							splitLine: { //网格线
								show: false
							}

						},

						{
							type: 'value',
							name: '100%',
							nameTextStyle: {
								color: "#fff",
								fontSize: 15,
								fontFamily: 'cursive',
							},
							min: 0,
							max: 100,
							interval: 20,
							axisLabel: {
								formatter: '{value} %',
								textStyle: {
									color: '#fff'
								}
							},
							axisLine: {
								lineStyle: {
									color: '#fff',
									width: 1, //这里是为了突出显示加上的
								}
							},

							splitLine: { //网格线
								show: false
							}

						},
					],
					series: [{
							name: "hill",
							barMinHeight: 10,
							type: "pictorialBar",
							barCategoryGap: "60%",
							// symbol: 'path://M0,10 L10,10 L5,0 L0,10 z',
							symbol: "path://M0,10 L10,10 C5.5,10 5.5,5 5,0 C4.5,5 4.5,10 0,10 z",
							itemStyle: {
								normal: {
									//barBorderRadius: 5,
									//渐变色
									color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
											offset: 0,
											color: "#01EAED"
										},
										{
											offset: 0.5,
											color: "#02C4DD"
										},
										{
											offset: 1,
											color: "#029ED9"
										}
									])
								}
							},
							label: {
								normal: {
									show: true,
									position: "top",
									textStyle: {
										color: "#fff",
										fontSize: 15,
										fontFamily: 'cursive',
									}
								}
							},
							data: this.KeDataPar,
							z: 10
						},
						// {
						// 	name: "hill",
						// 	type: "bar",
						// 	barWidth: '20%',
						// 	symbol: "path://M0,10 L10,10 C5.5,10 5.5,5 5,0 C4.5,5 4.5,10 0,10 z",
						// 	itemStyle: {
						// 		normal: {
						// 			color: "rgba(11,47,68,.8)"
						// 		}
						// 	},
						// 	data: this.KeDataX,
						// 	z: 9
						// },
						{
							type: 'line',
							data: this.KeDataParLine,
							itemStyle: {
								normal: {
									color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
											offset: 0,
											color: "#37CC48"
										},
										{
											offset: 1,
											color: "red"
										}
									])
								}
							},
						}
					]
				}

				myChart7.setOption(option);
				window.onresize = function() {
					myChart7.resize();
				}

			},


			myChart8() {
				// 基于准备好的dom，初始化echarts实例
				var myChart8 = echarts.init(document.getElementById('myChart8'));
				// 指定图表的配置项和数据
				var option = {
					title: {
						text: this.dataOneBar.years + ' IE & KE',
						left: 'center',
						y: '2', //垂
						textStyle: { //主标题文本样式
							fontSize: 20,
							color: "#37CC48",
							fontFamily: 'cursive',
						}
					},
					color: ['#00aa00', '#ff0000', '#cccccc', '#ffaaff', ],
					grid: {
						left: '10%',
						right: '10%',
						top: '40%',
						bottom: '15%',
					},
					tooltip: {
						trigger: 'axis',
						axisPointer: {
							type: 'cross',
							crossStyle: {
								color: 'fff'
							}
						}
					},


					legend: {
						data: ['KE', 'IE', 'KE Target', 'IE Target'],
						left: 'center',
						y: '40px',
						textStyle: { //图例文字的样式
							color: '#fff',
							fontSize: 15,
							fontFamily: 'cursive',
						},
						itemWidth: 14, // 设置宽度
						itemHeight: 14, // 设置高度
						itemGap: 10 // 设置间距
					},
					xAxis: [{
						type: 'category',
						data: this.dataOneBar.dataOneBarX,
						axisPointer: {
							type: 'shadow',
						},
						axisLabel: {
							textStyle: {
								color: '#fff'
							},

						},
						axisLine: {
							lineStyle: {
								color: '#fff',
								width: 2, //这里是为了突出显示加上的
							},
						},
					}],
					yAxis: [{
							type: 'value',
							name: '100%',
							min: 0,
							max: 100,
							interval: 20,
							nameTextStyle: {
								color: "#fff",
								fontSize: 12,
							},
							axisLabel: {
								formatter: '{value} %',
								textStyle: {
									color: '#fff'
								},
							},
							axisLine: {
								lineStyle: {
									color: '#fff',
									width: 1, //这里是为了突出显示加上的
								}
							},

							splitLine: { //网格线
								show: false
							}

						},

						{
							type: 'value',
							name: '100%',
							nameTextStyle: {
								color: "#fff",
								fontSize: 15,
								fontFamily: 'cursive',
							},
							min: 0,
							max: 100,
							interval: 20,
							axisLabel: {
								formatter: '{value} %',
								textStyle: {
									color: '#fff'
								}
							},
							axisLine: {
								lineStyle: {
									color: '#fff',
									width: 1, //这里是为了突出显示加上的
								}
							},

							splitLine: { //网格线
								show: false
							}

						},
					],
					series: [{
							name: 'KE',
							type: 'line',
							data: this.dataOneBar.dataOneBar1
						},
						{
							name: 'IE',
							type: 'line',
							data: this.dataOneBar.dataOneBar2
						},
						{
							name: 'KE Target',
							type: 'line',
							// yAxisIndex: 1,
							data: this.dataOneBar.dataOneBar3
						},
						{
							name: 'IE Target',
							type: 'line',
							// yAxisIndex: 1,
							data: this.dataOneBar.dataOneBar4
						}
					]

				};
				// 使用刚指定的配置项和数据显示图表。
				myChart8.setOption(option);
				window.onresize = function() {
					myChart8.resize();
				}
			},

		},
		mounted() {
			//线体查询
			this.lineSearch()
			//班次查询
			this.shiftSearch()
			//初始化中间表格查询
			this.centerTable()




			/***** 当前时间  *****/
			function getNowFormatDate() { //yyyy-MM-dd HH:MM:SS
				var date = new Date();
				var month = date.getMonth() + 1;
				var strDate = date.getDate();
				var hours = date.getHours();
				var minutes = date.getMinutes();
				var seconds = date.getSeconds();
				if (month >= 1 && month <= 9) {
					month = "0" + month;
				}
				if (strDate >= 1 && strDate <= 9) {
					strDate = "0" + strDate;
				}
				if (hours >= 0 && hours <= 9) {
					hours = "0" + hours;
				}
				if (minutes >= 0 && minutes <= 9) {
					minutes = "0" + minutes;
				}
				if (seconds >= 0 && seconds <= 9) {
					seconds = "0" + seconds;
				}
				var currentdate = date.getFullYear() + "-" + month + "-" + strDate + " " + hours + ":" + minutes + ":" +
					seconds;
				return currentdate;
			}
			setInterval(function() {
				var time = getNowFormatDate();
				$('.time').html(time)
			}.bind(this), 1000)
		}


	})
</script>
